.VideoPanel {
    background: #27a68f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.VideoPanel__Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #27a68f;
    color: white;
    height: auto;
}

.VideoPanel__Header h3 {
    line-height: normal;
    color: white;
}

.VideoPanel__Header span p {
    line-height: normal;
    font-size: 12px;
}

.VideoPanel .VideoPanel__VideoList {
    display: flex;
    justify-content: space-around;
}

.VideoPanel .VideoPanel__VideoList h2 {
    line-height: normal;
    color: white;
}

.VideoPanel .VideoPanel__EndCall {
    width: 60px;
    height: 60px;
}

.VideoPanel .VideoPanel__EndCall img {
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .VideoPanel .VideoPanel__VideoList  {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .VideoPanel {
        justify-content: flex-start;
    }

    .VideoPanel__Header span p {
        font-size: 8px;
    }
}