.TSignup__Col__Header {
    background: #27a687;
    height: auto;
    line-height: 2em;
    padding: 20px;
    text-align: center;
}

.TSignup .TSignup__Col__Header h1 {
    color: white;
}

.TSignup .TSignup__Col__Form {
    padding-top: 20px;
    text-align: center;
}

.TSignup__Col__Form__Button {
    text-align: center;
}

.TSignup__Col__Form__Button button {
   width: 50%;
   background: #27a687;
   color: white;
}


.TSignup__Col__Form__Button--Login {
    width: 50%;
    background: #27a687;
    color: white;
}

.TSignup__Col__Form__Button button:hover, .TSignup__Col__Form__Button button:focus {
    background: #0A7360;
    color: white;
}

.TSignup .TSignup__Col__Form__Button--Login:hover, .TSignup .TSignup__Col__Form__Button--Login:focus {
    background: #0A7360;
    color: white;
}